<style>
  table, th, td {
    border: 1px solid black;
  }
</style>

<h1>Listing Recorded Times</h1>

<table>
  <tr>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Time Elapsed</th>
  </tr>
    <% @alltimes.each do |time| %>
      <tr>
        <td><%= time.start.getlocal.strftime("%F %T") %></td>
        <td><%= time.end.getlocal.strftime("%F %T") %></td>
        <td style="text-align:center">
          <%= ((time.end - time.start) / 60).round %> minutes
        </td>
      </tr>
    <% end %>

</table>
