

<div class="row">
  <div class="offset-sm-4 col-sm-4">
    <div class="card bg-light mb-3">
      <div class="card-header"><h1 align="center">Record New Time</h1></div>
        <div class="card-body">
          <button id="start">New Start</button>
          <button id="stop">New Stop</button>

          <div style="clear:both;"></div>

          <br />

          Started at: <span id="start-time"><% if @currenttime.start != nil %>
          <%= @currenttime.start.getlocal.strftime("%F %T") %>
          <% end %></span>
          <br /><br />

          Current time: <span id="current-time"><%= DateTime.now.getlocal.strftime("%F %T") %></span>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  setInterval(getCurrentTime, 1000);

  $(" #start ").click(function() {
    $.ajax({url: "/radarada",
      success: function(data) {
        $(" #start-time ").html(data);
      }
    });
  });

  $(" #stop ").click(function() {
    $.ajax({url: "/radaradarada",
      success: function(data) {
        // This is a band-aid used to display any Flash messages that might
        // have been created during the Ruby/Rails code in the 'stop' action.
        // Need to figure out how to display flash messages and replace
        // this code later.
        location.reload();
      }
    });
  });

  function getCurrentTime() {
    $.ajax({url: "/radaradaradarada",
      success: function(data) {
        $( "#current-time" ).html(data);
      }
    });

  }
</script>
